{
  "module_name": "Kconfig",
  "hash_id": "277655e2e6a279efc34204f591098c0de994f65b142ba9a296957b5084d1116a",
  "original_prompt": "Ingested from linux-6.6.14/drivers/media/mmc/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\n\nsource \"drivers/media/mmc/siano/Kconfig\"\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}