{
  "module_name": "Kconfig",
  "hash_id": "9cb85477c451c9ffccf4f32965d4df653ff4fd0ae32e652aad3ccb3504b8d9bc",
  "original_prompt": "Ingested from linux-6.6.14/drivers/gpu/drm/ast/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig DRM_AST\n\ttristate \"AST server chips\"\n\tdepends on DRM && PCI && MMU\n\tselect DRM_GEM_SHMEM_HELPER\n\tselect DRM_KMS_HELPER\n\tselect I2C\n\tselect I2C_ALGOBIT\n\thelp\n\t Say yes for experimental AST GPU driver. Do not enable\n\t this driver without having a working -modesetting,\n\t and a version of AST that knows to fail if KMS\n\t is bound to the driver. These GPUs are commonly found\n\t in server chipsets.\n\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}