{
  "module_name": "Kconfig",
  "hash_id": "3895be876f9f0def754d08a81ad93f26c76932c413b2d76566e93b4541aac640",
  "original_prompt": "Ingested from linux-6.6.14/drivers/iio/common/inv_sensors/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\n#\n# TDK-InvenSense sensors common library\n#\n\nconfig IIO_INV_SENSORS_TIMESTAMP\n\ttristate\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}