{
  "module_name": "Kconfig",
  "hash_id": "ce6ebfe86f72010af2fde32606ae100525ac6e3b6c7f987d8a34a02ec32826f0",
  "original_prompt": "Ingested from linux-6.6.14/drivers/infiniband/hw/bnxt_re/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig INFINIBAND_BNXT_RE\n\ttristate \"Broadcom Netxtreme HCA support\"\n\tdepends on 64BIT\n\tdepends on INET && DCB && BNXT\n\thelp\n\t  This driver supports Broadcom NetXtreme-E 10/25/40/50 gigabit\n\t  RoCE HCAs.  To compile this driver as a module, choose M here:\n\t  the module will be called bnxt_re.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}