{
  "module_name": "Kconfig",
  "hash_id": "ccf26b3625c099bb2b3b580d3c22a410cca903425f8a722d630f76df507571af",
  "original_prompt": "Ingested from linux-6.6.14/sound/soc/sprd/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig SND_SOC_SPRD\n\ttristate \"SoC Audio for the Spreadtrum SoC chips\"\n\tdepends on ARCH_SPRD || COMPILE_TEST\n\tselect SND_SOC_COMPRESS\n\thelp\n\t  Say Y or M if you want to add support for codecs attached to\n\t  the Spreadtrum SoCs' Audio interfaces.\n\nconfig SND_SOC_SPRD_MCDT\n\ttristate \"Spreadtrum multi-channel data transfer support\"\n\tdepends on SND_SOC_SPRD\n\thelp\n\t  Say y here to enable multi-channel data transfer support. It\n\t  is used for sound stream transmission between audio subsystem\n\t  and other AP/CP subsystem.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}