{
  "module_name": "Kconfig",
  "hash_id": "aea43fc489fa7dcadb43195c7a38fac32e02508149781e949c98ad1c8b79dc6c",
  "original_prompt": "Ingested from linux-6.6.14/drivers/gpu/drm/udl/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig DRM_UDL\n\ttristate \"DisplayLink\"\n\tdepends on DRM\n\tdepends on USB\n\tdepends on USB_ARCH_HAS_HCD\n\tdepends on MMU\n\tselect DRM_GEM_SHMEM_HELPER\n\tselect DRM_KMS_HELPER\n\thelp\n\t  This is a KMS driver for the USB displaylink video adapters.\n\t  Say M/Y to add support for these devices via drm/kms interfaces.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}