{
  "module_name": "Kconfig",
  "hash_id": "70fa5c8573745fd433a983a0b898c40a7a44ddc805e45f9d612c1a2a32846c16",
  "original_prompt": "Ingested from linux-6.6.14/drivers/platform/x86/intel/pmc/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0\n#\n# Intel x86 Platform-Specific Drivers\n#\n\nconfig INTEL_PMC_CORE\n\ttristate \"Intel PMC Core driver\"\n\tdepends on PCI\n\tdepends on ACPI\n\thelp\n\t  The Intel Platform Controller Hub for Intel Core SoCs provides access\n\t  to Power Management Controller registers via various interfaces. This\n\t  driver can utilize debugging capabilities and supported features as\n\t  exposed by the Power Management Controller. It also may perform some\n\t  tasks in the PMC in order to enable transition into the SLPS0 state.\n\t  It should be selected on all Intel platforms supported by the driver.\n\n\t  Supported features:\n\t\t- SLP_S0_RESIDENCY counter\n\t\t- PCH IP Power Gating status\n\t\t- LTR Ignore / LTR Show\n\t\t- MPHY/PLL gating status (Sunrisepoint PCH only)\n\t\t- SLPS0 Debug registers (Cannonlake/Icelake PCH)\n\t\t- Low Power Mode registers (Tigerlake and beyond)\n\t\t- PMC quirks as needed to enable SLPS0/S0ix\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}