{
  "module_name": "Kconfig",
  "hash_id": "252d258fdfb717c4b1f67f7beeab25ba2efbb8aa70b53f41c8fe686552d487d3",
  "original_prompt": "Ingested from linux-6.6.14/sound/aoa/fabrics/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig SND_AOA_FABRIC_LAYOUT\n\ttristate \"layout-id fabric\"\n\tselect SND_AOA_SOUNDBUS\n\tselect SND_AOA_SOUNDBUS_I2S\n\thelp\n\tThis enables the layout-id fabric for the Apple Onboard\n\tAudio driver, the module holding it all together\n\tbased on the device-tree's layout-id property.\n\t\n\tIf you are unsure and have a later Apple machine,\n\tcompile it as a module.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}