{
  "module_name": "Kconfig",
  "hash_id": "52b38669b4e16cb906169b3f3b86c518240cbfc372b6e7616ca5feaf92e9c02e",
  "original_prompt": "Ingested from linux-6.6.14/net/iucv/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig IUCV\n\tdepends on S390\n\tdef_tristate y if S390\n\tprompt \"IUCV support (S390 - z/VM only)\"\n\thelp\n\t  Select this option if you want to use inter-user communication\n\t  under VM or VIF. If you run on z/VM, say \"Y\" to enable a fast\n\t  communication link between VM guests.\n\nconfig AFIUCV\n\tdepends on S390\n\tdef_tristate m if QETH_L3 || IUCV\n\tprompt \"AF_IUCV Socket support (S390 - z/VM and HiperSockets transport)\"\n\thelp\n\t  Select this option if you want to use AF_IUCV socket applications\n\t  based on z/VM inter-user communication vehicle or based on\n\t  HiperSockets.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}