{
  "module_name": "Kconfig",
  "hash_id": "f206fa4f0ee89dd61271f56b4b148cc384df7abd9239818779fada054df4fb49",
  "original_prompt": "Ingested from linux-6.6.14/drivers/scsi/qedf/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig QEDF\n\ttristate \"QLogic QEDF 25/40/100Gb FCoE Initiator Driver Support\"\n\tdepends on PCI && SCSI\n\tdepends on QED\n        depends on LIBFC\n        depends on LIBFCOE\n\tselect QED_LL2\n\tselect QED_FCOE\n\thelp\n\tThis driver supports FCoE offload for the QLogic FastLinQ\n\t41000 Series Converged Network Adapters.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}