{
  "module_name": "Kconfig",
  "hash_id": "0df06f744742bfd8f92b7061dbec616e0df33aba18b3c2fe8de9f5685ec9e6cf",
  "original_prompt": "Ingested from linux-6.6.14/drivers/media/usb/hdpvr/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\n\nconfig VIDEO_HDPVR\n\ttristate \"Hauppauge HD PVR support\"\n\tdepends on VIDEO_DEV\n\thelp\n\t  This is a video4linux driver for Hauppauge's HD PVR USB device.\n\n\t  To compile this driver as a module, choose M here: the\n\t  module will be called hdpvr\n\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}