{
  "module_name": "Kconfig",
  "hash_id": "832fed83305c213a55423c86084dd54781451dfaab19a0c8faf1a137e7549ec6",
  "original_prompt": "Ingested from linux-6.6.14/drivers/infiniband/hw/usnic/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig INFINIBAND_USNIC\n\ttristate \"Verbs support for Cisco VIC\"\n\tdepends on NETDEVICES && ETHERNET && INET && PCI && INTEL_IOMMU\n\tdepends on INFINIBAND_USER_ACCESS\n\tselect ENIC\n\tselect NET_VENDOR_CISCO\n\tselect PCI_IOV\n\thelp\n\t  This is a low-level driver for Cisco's Virtual Interface\n\t  Cards (VICs), including the VIC 1240 and 1280 cards.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}