{
  "module_name": "Kconfig",
  "hash_id": "1550f0e95b122d241de464fdd0ef86a6cdeebc640f7901262b46edd4e52f2226",
  "original_prompt": "Ingested from linux-6.6.14/drivers/net/ethernet/freescale/dpaa/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nmenuconfig FSL_DPAA_ETH\n\ttristate \"DPAA Ethernet\"\n\tdepends on FSL_DPAA && FSL_FMAN\n\tselect PHYLINK\n\tselect PCS_LYNX\n\thelp\n\t  Data Path Acceleration Architecture Ethernet driver,\n\t  supporting the Freescale QorIQ chips.\n\t  Depends on Freescale Buffer Manager and Queue Manager\n\t  driver and Frame Manager Driver.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}