fman@500000 {
	fman1_rx_0x09: port@89000 {
		cell-index = <0x9>;
		compatible = "fsl,fman-v3-port-rx";
		reg = <0x89000 0x1000>;
	};
	fman1_tx_0x29: port@a9000 {
		cell-index = <0x29>;
		compatible = "fsl,fman-v3-port-tx";
		reg = <0xa9000 0x1000>;
	};
	ethernet@e2000 {
		cell-index = <1>;
		compatible = "fsl,fman-memac";
		reg = <0xe2000 0x1000>;
		fsl,fman-ports = <&fman1_rx_0x09 &fman1_tx_0x29>;
		ptp-timer = <&ptp_timer1>;
		pcsphy-handle = <&pcsphy9>, <&qsgmiic_pcs1>;
		pcs-handle-names = "sgmii", "qsgmii";
	};
	mdio@e1000 {
		qsgmiic_pcs1: ethernet-pcs@1 {
			compatible = "fsl,lynx-pcs";
			reg = <1>;
		};
	};
	mdio@e3000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "fsl,fman-memac-mdio", "fsl,fman-xmdio";
		reg = <0xe3000 0x1000>;
		fsl,erratum-a011043;  
		pcsphy9: ethernet-phy@0 {
			reg = <0x0>;
		};
	};
};
