{
  "module_name": "Kconfig",
  "hash_id": "788399fd38fc4c497ecac82d1934d85b82eceefd0ab31c5071962267792f43fa",
  "original_prompt": "Ingested from linux-6.6.14/drivers/net/wireless/silabs/wfx/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig WFX\n\ttristate \"Silicon Labs wireless chips WF200 and further\"\n\tdepends on MAC80211\n\tdepends on MMC || !MMC # do not allow WFX=y if MMC=m\n\tdepends on (SPI || MMC)\n\thelp\n\t  This is a driver for Silicons Labs WFxxx series (WF200 and further)\n\t  chipsets. This chip can be found on SPI or SDIO buses.\n\n\t  Silabs does not use a reliable SDIO vendor ID. So, to avoid conflicts,\n\t  the driver won't probe the device if it is not also declared in the\n\t  Device Tree.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}