{
  "module_name": "Kconfig",
  "hash_id": "b7da46e310b3fedb67fa7437a993ffa22b6106877bf9025e1cbac2bc2708aef0",
  "original_prompt": "Ingested from linux-6.6.14/drivers/video/fbdev/mmp/fb/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig MMP_FB\n\ttristate \"fb driver for Marvell MMP Display Subsystem\"\n\tdepends on FB\n\tselect FB_IOMEM_HELPERS\n\tdefault y\n\thelp\n\t\tfb driver for Marvell MMP Display Subsystem\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}