CONFIG_HIGHMEM64G=y
CONFIG_64BIT=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_X86_MCE=y
CONFIG_ACPI_PROCESSOR=y
CONFIG_CPU_FREQ=y
CONFIG_XEN_PVH=y
CONFIG_XEN_SAVE_RESTORE=y
CONFIG_XEN_MCE_LOG=y
CONFIG_XEN_ACPI_PROCESSOR=m
CONFIG_XEN_PCIDEV_BACKEND=m
CONFIG_XEN_PCIDEV_FRONTEND=m
CONFIG_XEN_BALLOON_MEMORY_HOTPLUG=y
