{
  "module_name": "Kconfig",
  "hash_id": "0f9a2b434fabae306d60f3cec40f8fc06ceb4aaecc45da1a3a18e2d889444508",
  "original_prompt": "Ingested from linux-6.6.14/drivers/vfio/mdev/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\n\nconfig VFIO_MDEV\n\ttristate\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}