{
  "module_name": "Kconfig",
  "hash_id": "e406aec9bce44aa2231460078b4d008e7bb5211d1af4f38237772ee7ec10b702",
  "original_prompt": "Ingested from linux-6.6.14/drivers/soc/versatile/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\n#\n# ARM Versatile SoC drivers\n#\nconfig SOC_INTEGRATOR_CM\n\tbool \"SoC bus device for the ARM Integrator platform core modules\"\n\tdepends on ARCH_INTEGRATOR\n\tselect SOC_BUS\n\thelp\n\t  Include support for the SoC bus on the ARM Integrator platform\n\t  core modules providing some sysfs information about the ASIC\n\t  variant.\n\nconfig SOC_REALVIEW\n\tbool \"SoC bus device for the ARM RealView platforms\"\n\tdepends on ARCH_REALVIEW\n\tselect SOC_BUS\n\thelp\n\t  Include support for the SoC bus on the ARM RealView platforms\n\t  providing some sysfs information about the ASIC variant.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}