{
  "module_name": "Kconfig",
  "hash_id": "62e112fc9bb290e63ccb2cb33bbb7b33502737204dff086ba648824ad7085ad5",
  "original_prompt": "Ingested from linux-6.6.14/drivers/media/common/v4l2-tpg/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nconfig VIDEO_V4L2_TPG\n\ttristate\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}