{
  "module_name": "Kconfig",
  "hash_id": "beb8e82ace1fd56c8cf5be486e0bd7a2bac1cb57189a68611b90a45c55fa37eb",
  "original_prompt": "Ingested from linux-6.6.14/drivers/clk/sifive/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0\n\nmenuconfig CLK_SIFIVE\n\tbool \"SiFive SoC driver support\"\n\tdepends on ARCH_SIFIVE || COMPILE_TEST\n\tdefault ARCH_SIFIVE\n\thelp\n\t  SoC drivers for SiFive Linux-capable SoCs.\n\nif CLK_SIFIVE\n\nconfig CLK_SIFIVE_PRCI\n\tbool \"PRCI driver for SiFive SoCs\"\n\tdefault ARCH_SIFIVE\n\tselect RESET_CONTROLLER\n\tselect RESET_SIMPLE\n\tselect CLK_ANALOGBITS_WRPLL_CLN28HPC\n\thelp\n\t  Supports the Power Reset Clock interface (PRCI) IP block found in\n\t  FU540/FU740 SoCs. If this kernel is meant to run on a SiFive FU540/\n\t  FU740 SoCs, enable this driver.\n\nendif\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}