{
  "module_name": "Kconfig",
  "hash_id": "c2e4f41d7c298a2b11b5ea5a63b8efe3adb447455fff92dcf5b3fd74aeb6fbe4",
  "original_prompt": "Ingested from linux-6.6.14/drivers/soc/bcm/brcmstb/Kconfig",
  "human_readable_source": "# SPDX-License-Identifier: GPL-2.0-only\nif SOC_BRCMSTB\n\nconfig BRCMSTB_PM\n\tbool \"Support suspend/resume for STB platforms\"\n\tdefault y\n\tdepends on PM && BMIPS_GENERIC\n\nendif # SOC_BRCMSTB\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}