{
  "module_name": "Kconfig",
  "hash_id": "3fe7012fa806e5ecd5a2e3e00bd73b94a9acc4dd8265a644f38d334721a8a192",
  "original_prompt": "Ingested from linux-6.6.14/drivers/dma/sf-pdma/Kconfig",
  "human_readable_source": "config SF_PDMA\n\ttristate \"Sifive PDMA controller driver\"\n\tdepends on HAS_IOMEM\n\tselect DMA_ENGINE\n\tselect DMA_VIRTUAL_CHANNELS\n\thelp\n\t  Support the SiFive PDMA controller.\n",
  "logic_map": {},
  "failure_modes": [],
  "crash_correlation_map": {}
}